<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-2">
            <!-- instructions -->
            <h3>Instructions</h3>
         </div>
         <div class="col-md-8">
           <!-- questions -->
           <ng-container *ngIf="questions">
             <h1 class="mt20">Ongoing Quiz: <b>{{questions[0].quiz.title}}</b></h1>
             <mat-card *ngFor="let q of questions;let i = index" class="mt20">
                  <mat-card-content>
                    <p><b>Q{{i+1}}.</b><span [innerHTML]="q.content" class="ml10"></span></p>
                    <mat-divider></mat-divider>
                    <div class="row mt20">
                        <div class="col-md-6">
                            <input type="radio" [value]="q.option1" [name]="''+i" [(ngModel)]="q.givenAnswer">{{q.option1}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [value]="q.option2" [name]="''+i" [(ngModel)]="q.givenAnswer">{{q.option2}}
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-md-6">
                            <input type="radio" [value]="q.option3" [name]="''+i" [(ngModel)]="q.givenAnswer">{{q.option3}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [value]="q.option4" [name]="''+i" [(ngModel)]="q.givenAnswer">{{q.option4}}
                        </div>
                    </div>
                  </mat-card-content>
             </mat-card>
             <div class="container text-center mt20">
                <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Quiz</button>
             </div>
           </ng-container>
         </div>
         <div class="col-md-2">
             <!-- progress -->
         </div>
       </div>
    </div>
</div>
<!-- show the answers -->
<div class="bootstrap-wrapper mt20" *ngIf="isSubmit">
    <div class="row mt20">
        <div class="col-md-6 offset-md-3">
             <mat-card>
                <mat-card-header>
                    <mat-card-title>Quiz Result</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1><b>Marks Got:</b> {{marksGot}}</h1>
                    <h1 class="mt20"><b>Correct Marks:</b> {{correctAnswers}}</h1>
                    <h1><b>Questions attempted:</b> {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions class="mt20 text-center">
                    <button mat-raised-button color="primary">Print</button>
                    <button mat-raised-button color="accent" class="ml20" [routerLink]="'/user/0'">
                        Home
                    </button>
                </mat-card-actions>
             </mat-card>
        </div>
    </div>
</div>
