<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img class="logo-img" src="../../../assets/logo.png" alt="logo">
                </div>
                <h1 class="text-center">Register here</h1>
                <!-- {{user | json}} -->
                <form (ngSubmit)="formSubmit()">
                    <!--Username field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input
                        required
                        [(ngModel)]="user.username"
                        name="username"
                        matInput
                        placeholder="Enter username" 
                        />
                        <mat-hint>Username must be unique</mat-hint>
                    </mat-form-field>
                    <!--Password field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required
                        [(ngModel)]="user.password"
                        name="password"
                        type="password"
                        matInput
                        placeholder="Enter password"
                        />
                    </mat-form-field>
                    <!--Firstname field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.firstname"
                        name="firstname"
                        type="text"
                        matInput
                        placeholder="Enter firstname"
                        />
                    </mat-form-field>
                    <!--Lastname field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.lastname"
                        name="lastname"
                        type="text"
                        matInput
                        placeholder="Enter lastname"
                        />
                    </mat-form-field>
                    <!--Email field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input
                        required
                        [(ngModel)]="user.email"
                        name="email"
                        type="email"
                        matInput
                        placeholder="Enter email"
                        />
                    </mat-form-field>
                    <!--Phone field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input
                        required
                        [(ngModel)]="user.phone"
                        name="phone"
                        type="number"
                        matInput
                        placeholder="Enter phone"
                        />
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                    </div>
                </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>